.container {
    background-color: black;
    color: white;
    padding: 30px;
}

.input {
    border: 3px solid blue;
    font-weight: 700;
    border-radius: 3px;
}

.button {
    padding: 2px 8px;
    font-weight: 700;
}